@import './lib/colors';

html,
body {
	padding: 0;
	margin: 0;
	background: $color-alabaster;
	color: $color-dark-jungle-green;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
